@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    width: 255px;
    text-align: center;
}

thead th { 
    position: sticky; 
    top: 0; 
    background-color: beige;
}

tbody { 
    margin-bottom: "12px" 
}